.header_blog{
  position: absolute;
  top: 0px;
  left : 0px;
  background-color: #565657;
  width:285%;
  height: 13%;
  /*text-align: center;*/
  -webkit-backface-visibility: hidden; 
  -webkit-transform: translateZ(0);
}

.header_blog p {
    position: absolute; 
    left:550px;
    top:1%;
    left: 16%;
    color: #ffffff;
    text-shadow: 1px 3px 10px #000000;
    font: 60px "Source Sans Pro";
    text-align: center;
}

.header2_blog{
  position: absolute;
  background-color: #F77220 ;
  width:100%; 
  height:14.5%;
  -webkit-backface-visibility: hidden; 
  -webkit-transform: translateZ(0);
}

.hmblog {
  position: absolute;
  cursor: pointer;
}

.headerhmblog{
    text-shadow: 0px 1px 1px #000000;
    color: #ffffff; 
}

.slide .blog{
  position: relative;
  margin:7% auto 0;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 70%;
  height: 75%;
  text-align: center;
  background-color:rgb(2,2,2) ;
} 

.next{
	margin-right:10%;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}
.prev{
	margin-left:10%;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.slide .blog .blog1auth1{
  position: relative;
  top: 15%;
  left: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:4px solid #ffffff;
}
.slide .blog .git{
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 1px #000000;
  top: 55%;
  left: 20%;
}

.slide .blog .gplus{
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 1px #000000;
  top: 65%;
  left: 20%;
}

.slide .blog .linkedin{
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 1px #000000;
  top: 75%;
  left: 20%;
}

.slide .blog .labelgit{
  position: absolute;
  left: 22%;
  top: 57.7%;
  color: #fff;
  font-family:"Source Sans Pro";
  font-size:15px;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  line-height: 0em;
  opacity: 0;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.slide .blog .labelgplus{
  position: absolute;
  left: 22%;
  top: 67.7%;
  color: #fff;
  font-family:"Source Sans Pro";
  font-size:15px;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  line-height: 0em;
  opacity: 0;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.slide .blog .labellinkedin{
  position: absolute;
  left: 22%;
  top: 77.7%;
  color: #fff;
  font-family:"Source Sans Pro";
  font-size:15px;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  line-height: 0em;
  opacity: 0;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.slide .blog .git:hover ~ .labelgit
{
  opacity: 1;
  left: 23.5%;
}

.slide .blog .gplus:hover ~ .labelgplus
{
  opacity: 1;
  left: 23.5%;
}

.slide .blog .linkedin:hover ~ .labellinkedin
{
  opacity: 1;
  left: 23.5%;
}