.connect{
	width:400px;
	margin:5% auto 0;
	color:#fff;
	font-size:60px;
	font-family:"Roboto Condensed";
}

.links{
	width:200px;
	margin:-15% auto 0;
}
.links a{
	opacity:0.5;
}
.links a:hover{
	opacity:1;
}