#lab {
	width: 80%;
	height:70%;
	overflow-y: auto;
	padding-bottom: 70px;
	position: relative;
	margin: 10% auto 0;
	background-color: rgb(2,2,2);
	color:#fff;

	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}

.hex {
	width: 120px;
	height: 230px;
	position: relative;
	display: inline-block;
}
               
.hexagon2 {
	position: absolute;
	width: 120px;
	height: 140px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(16,16,16,0.9);
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.hexagon-in2:hover {
	-webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
	box-shadow: inset 0 0 0 0px rgba(16,16,16,1);
}

#lab article {
	padding-top: 1em;
	width: 620px;
	margin: 0 auto;
}

.hex:nth-child(9n-3){
	margin-left: 60px;
}

.hex:nth-child(n+5) {
	margin-top: -125px;
}